@import "node_modules/susy/sass/susy";

// color scheme
$main-blue: #3fabf6;

body {
  font: 10px sans-serif;
}

h1 {
  font-size: 1.7em;
}

a:hover {
  cursor: pointer;
}

#react-container {
  margin-bottom: 30px;

  .top-menu .btn-group {
    margin-top: 10px;
    margin-bottom: 20px;
  }
}

@mixin mainContainer($width, $maxWidth) {
  width: $width;
  max-width: $maxWidth;
  margin-right: auto;
  margin-left: auto;
}

$susy: (
  container: 86%,
  columns: 12,
  gutters: 0, 
);

.top-container {
  // TODO how to change susy container width within media queries and set its max-width?
  // mainContainer is the workaround for now
  @include mainContainer(86%, 600px);
  
  button {
    border-color: $main-blue;
    color: $main-blue;

    &:hover, &:visited, &:active {
      border-color: $main-blue;
    }

    &:hover {
      background-color: $main-blue;
      color: white;
    }
  }

  .btn-group {
    width: 100%;
    button.budget-type {
      width: span(5);
    }
    button.search {
      width: span(2);
    }
  }

  h1 {
    float: left;
    margin-bottom: 16px;
  }
  
  .hamburger-menu {
    float: right;
    font-size: 2em;
    margin-top: 20px;
    cursor: pointer;
  }

  .menu-items {
    list-style-type: none;
    display: none;
    clear: both;
    padding: 0;
    float: right;

    &.active {
      display: block
    }

    li {
      padding: 5px 0;
    }
  }
}

$susy: (
  container: 80%,
  columns: 24, 
  gutter-position: inside,
  gutters: 10,
);

.departments {
  @include mainContainer(80%, 600px);

  .pie {
    width: span(10 of 24);

    margin-top: gutter() * 4;
    margin-bottom: gutter() * 8;

    @media (max-width: 649px) {
      &:nth-child(odd) {
        margin-right: span(2 of 24);
      }

      &:nth-child(even) {
        margin-left: span(2 of 24);
      }
    }

    @media (min-width: 650px) {
      width: span(5);
      
      margin-top: gutter() * 2;
      margin-bottom: gutter() * 4;

      margin-right: span(0.5 of 24);
      margin-left: span(0.5 of 24);
    }

    &:hover {
      cursor: pointer;
    }
  }

  .arc path {
    stroke: #fff;
  }
}

.department {
  @include container(80%);
}

text {
  text-anchor: middle;
  font-size: 1em;
  fill: $main-blue;
}

svg:not(:root) {
  overflow: inherit;
}

.text-middle {
  text-anchor: middle;
}

.on-chart {
  fill: white;
}

.sector-hovered {
  opacity: 0.5;
}

